{{#partial "content"}}
    <section class="home">
        <div class="row" >

            <div class="col-md-12">
                <h2 class="hero-title">Heroes</h2>
            </div>
        </div>
        <div class="container">
            <div >
                <div class=" row">
                    {{#each hero}}
                        <div class="col-md-6">
                        <div class=" jumbotron detail-form">

                            <p>Name: {{ name }} </p>
                            <p>Age: {{ age }}</p>
                            <p>Special power: {{ power }}</p>
                            <p>Weakness: {{ weakness }}</p>
                            <p>Id : {{ id }}</p>
                            <a href="new/{{id}}" class=" btn btn-primary">Hero Stats</a><br><br>
                            <a href="/squad" class=" btn btn-primary">Add {{ name }} To Squad</a>
                        </div>
                        </div>

                    {{/each}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-6">
                <h2> <a class="btns btn btn-primary" href="/hero-form" >Create a Hero</a> </h2>
            </div>

        </div>



    </section>
{{/partial}}
{{> layout.hbs}}